.first-section {
    background: url("/images/choose.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    position: relative;
}

.background {
    background-color: $purpure;
    height: 80px;
    margin-bottom: 200px;
}
.navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    text-transform: uppercase;

    &__text {
        font-family: $josefin;
        font-size: 24px;
        color: $white;
    }

    .menu {
        display: flex;
        justify-content: space-around;
        font-family: $aleo;
        font-size: 14px;

        &__link {
            text-decoration: none;
            color: $white;
        }
    }
}

.choose {
    color: $white;

    &__title {
        font-family: $aleo;
        font-size: 36px;
        margin-bottom: 60px;
    }

    &__text {
        font-family: $josefin;
        font-size: 16px;
        margin-bottom: 30px;
    }

    .button {
        background-color: $purpure;
        width: 225px;
        height: 60px;

        &__text {
            text-align: center;
            line-height: 60px;
            font-family: $aleo;
            font-size: 16px;
        }
    }

    .picture {
        
    }
}